html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.btn {
  color: #212832;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-size: 17px;
  height: 40px;
  width: 100px;
  border: solid 2px #212832;
  border-radius: 10px;
  text-align: center;
  padding-top: 8px;
}

h2 {
  font-size: 50px;
  font-weight: 700;
  font-family: "Volkhov", serif;
  color: #14183E;
}

.general-grid-container {
  display: grid;
  position: relative;
  grid-template-columns: repeat(12, 1fr);
  width: 100%;
  height: auto;
  grid-template-rows: auto;
}

nav.navbar {
  grid-column: 2/12;
  height: 40px;
  margin-top: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  z-index: 5;
}
nav.navbar .nav-links {
  display: flex;
  width: 460px;
  gap: 50px;
  justify-content: flex-end;
  align-items: center;
}
nav.navbar .nav-links a {
  color: #212832;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-size: 17px;
}
nav.navbar .nav-interact {
  display: flex;
  width: 280px;
  gap: 50px;
  justify-content: flex-end;
  color: #212832;
  align-items: center;
  margin-left: 80px;
}
nav.navbar .nav-interact a {
  color: #212832;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-size: 17px;
}
nav.navbar .logo {
  display: block;
  height: 40px;
  margin-right: auto;
}

.header_girl_and_planes {
  margin-top: 50px;
  position: relative;
  grid-column: 7/12;
  box-sizing: border-box;
  z-index: 10;
}
.header_girl_and_planes .girl {
  position: relative;
  z-index: 10;
  max-height: 780px;
  z-index: 10;
}
.header_girl_and_planes .first_plane {
  width: 135px;
  position: absolute;
  top: 8%;
  left: 5%;
}
.header_girl_and_planes .second_plane {
  width: 135px;
  position: absolute;
  top: 15%;
  left: 500px;
}

.header_hero_text {
  position: relative;
  margin-top: 150px;
  grid-column: 2/7;
  z-index: 15;
  width: 100%;
}
.header_hero_text .slogan {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: #DF6951;
  font-size: 20px;
}
.header_hero_text h1 {
  font-family: "Volkhov", serif;
  font-weight: 700;
  font-size: 84px;
  color: #181E4B;
  line-height: 89px;
  letter-spacing: -4%;
  margin-top: 45px;
}
.header_hero_text .underline_decor {
  width: 380px;
  height: 12px;
  position: relative;
  bottom: 262px;
  left: 265px;
  z-index: -1;
}
.header_hero_text .header-text {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #5E6282;
  line-height: 30px;
  margin-top: 35px;
}
.header_hero_text .btn.btn--find_out_more {
  height: 60px;
  width: 170px;
  background: #F1A501;
  color: #ffffff;
  padding-top: 20px;
  border: none;
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 500;
  margin-top: 45px;
}
.header_hero_text .play-button {
  height: 60px;
  width: 60px;
  background-color: #DF6951;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  top: 25px;
  margin-left: 30px;
}
.header_hero_text .play-button .triangle {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-left: 20px solid #ffffff;
  border-bottom: 10px solid transparent;
  position: absolute;
  top: 20px;
  left: 22px;
}
.header_hero_text .play-label {
  font-family: "Poppins", sans-serif;
  display: inline;
  font-size: 17px;
  font-weight: 500;
  color: #5E6282;
  margin-left: 30px;
}

.yellow_decoration {
  height: 873px;
  width: 742px;
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: -1;
}

.category {
  position: relative;
  margin-top: 150px;
  grid-column: 2/12;
  grid-row: 3;
  width: 100%;
  height: auto;
}
.category .category-title {
  text-align: center;
}
.category .category-title p {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #5E6282;
}
.category .category-title h2 {
  margin-top: 20px;
}
.category .category-cards {
  width: 100%;
  background-color: #ffffff;
  margin-top: 100px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.category .category-cards .card {
  box-sizing: border-box;
  padding: 35px;
  height: 314px;
  width: 267px;
  text-align: center;
  position: relative;
  border-radius: 36px;
  background-color: #ffffff;
  z-index: 5;
}
.category .category-cards .card h4 {
  margin-top: 30px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #212832;
}
.category .category-cards .card p {
  margin-top: 30px;
  font-family: Poppins;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #5E6282;
}
.category .category-cards .card:hover {
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.2);
}
.category .cross_category_decoration {
  position: absolute;
  top: 0px;
  right: -100px;
}

.top_destinations_titles {
  margin-top: 100px;
  text-align: center;
  grid-column: 2/12;
  width: 100%;
  text-align: center;
}
.top_destinations_titles p {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #5E6282;
}
.top_destinations_titles h2 {
  margin-top: 20px;
}

.top_destinations_cards {
  grid-column: 1/-1;
  width: 100%;
  margin-top: 75px;
  display: flex;
  justify-content: center;
  padding: 0 50px;
  height: auto;
  flex-wrap: wrap;
}

.top-destination-card {
  overflow: hidden;
  position: relative;
  width: 315px;
  height: 457px;
  border-radius: 24px;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.1);
  margin-right: 35px;
}
.top-destination-card .destination-card-text {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  height: 130px;
  background-color: white;
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding: 30px 20px;
  padding-bottom: 0px;
}
.top-destination-card .destination-card-text p {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #5E6282;
  font-size: 18px;
  display: inline-block;
}
.top-destination-card .destination-card-text p.price {
  display: inline-block;
  margin-left: auto;
  grid-column: 2/-1;
}
.top-destination-card .destination-card-text .trip_duration img {
  display: inline-block;
  grid-column: 1;
}
.top-destination-card .destination-card-text .trip_duration p {
  grid-column: 1;
  font-size: 16px;
  margin-top: 30px;
}
.top-destination-card .destination-picture {
  width: 100%;
}

/*# sourceMappingURL=style.css.map */
