.header_girl_and_planes{
  position: relative;
  grid-column: 6/12;
  box-sizing: border-box;
  .girl{
    position: relative;
    z-index: 10;
    width: 100%;
  }
  .first_plane{
    width: 135px;
    position: absolute;
    top: 13%;
    left: 23%;
  }
  .second_plane{
    width: 135px;
    position: absolute;
    top: 15%;
    left: 83%;
  }
}



