.top_destinations_titles{
  margin-top: 100px;
  text-align: center;
  grid-column: 2/12;
  width: 100%;
  text-align: center;
  p {
    font-family: $popins;
    font-weight: $font-medium;
    font-size: 20px;
    color: $grey;
  }

  h2 {
    margin-top: 20px;
  }
}
.top_destinations_cards{
  grid-column: 1/-1;
  width: 100%;
  margin-top: 75px;
  display: flex;
  justify-content: center;
  padding: 0 50px;
  height: auto;
  flex-wrap: wrap;
}
.top-destination-card{
  overflow: hidden;
  position: relative;
  width: 315px;
  height: 457px;
  border-radius: 24px;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.1);
  margin-right: 35px;
  .destination-card-text{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 130px;
    background-color: white;
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding: 30px 20px;
    padding-bottom: 0px;
    p{
      font-family: $popins;
      font-weight: $font-medium;
      color: $grey;
      font-size: 18px;
      display: inline-block;

    }
    p.price{
      display: inline-block;
      margin-left: auto;
      grid-column: 2/-1;
    }

    .trip_duration{
      img{
        display: inline-block;
        grid-column: 1;
      }
      p{
        grid-column: 1;
        font-size: 16px;
        margin-top: 30px;
      }
    }

  }
  .destination-picture{
    width: 100%;
  }

}


